<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cetc.weiwen.mapper.EventLevelContactMapper" >
  <resultMap id="BaseResultMap" type="com.cetc.weiwen.entity.EventLevelContact" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="dictionary_event_type_uuid" property="dictionaryEventLevelUuid" jdbcType="VARCHAR" />
    <result column="dictionary_people_num_uuid" property="dictionaryPeopleNumUuid" jdbcType="VARCHAR" />
    <result column="dictionary_event_level_uuid" property="dictionaryEventLevelUuid" jdbcType="VARCHAR" />
  </resultMap>
 
  <sql id="Base_Column_List" >
    id, uuid, dictionary_event_type_uuid, dictionary_people_num_uuid, dictionary_event_level_uuid
  </sql>
  
   <!-- 版本id大于EventLevelContactVId的所有EventLevelContact -->
   <select id="findByVidGreaThan" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from event_level_contact
    where id > #{eventLevelContactVId,jdbcType=INTEGER}
  </select>
 
</mapper>